<html>    
    <head>
Employee List
    </head>
    <body>
        <table>
            <tr>
                <th>
                    Id:
                </th>
                <th>
                    Name
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Age
                </th>
            </tr >
            <tr *ngFor ="let e of empList">
                <td>
                    {{e.id}}
                </td>
                <td>
                    {{e.employee_name}}
                </td>
                <td>
                    {{e.employee_salary}}
                </td>
                <td>
                    {{e.employee_age}}
                </td>                
            </tr>

        </table>

    </body>
</html>