<html>    
    <head>
Employee Data
    </head>
    <body>
        <table border="1">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Age
                </th>

                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
                
            </tr >
            <tr *ngFor ="let e of empList">
                <td>
                    {{e.id}}
                </td>
                <td>
                    {{e.employee_name}}
                </td>
                <td>
                    {{e.employee_salary}}
                </td>
                <td>
                    {{e.employee_age}}
                </td>  
                <td>
                    <a [routerLink]="['/update', e.id]">Edit</a>
                </td>
                <td>
                   
                </td>
                                 
            </tr>

        </table>

    </body>
</html>